/** Ultra Light */
@font-face {
  font-family: "San Francisco";
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

/** Thin */
@font-face {
  font-family: "San Francisco";
  font-weight: 200;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-thin-webfont.woff");
}

/** Regular */
@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

/** Medium */
@font-face {
  font-family: "San Francisco";
  font-weight: 500;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-medium-webfont.woff");
}

/** Semi Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 600;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-semibold-webfont.woff");
}

/** Bold */
@font-face {
  font-family: "San Francisco";
  font-weight: 700;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-bold-webfont.woff");
}

* {
	padding: 0; margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

/* grobal */
a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
    -moz-text-decoration-color: red;
    text-decoration-color: red;
}
ul {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, header, footer, span, a, p, article {
	font-family: "San Francisco", Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
	word-break: break-all;
}
header, footer, span, a, p, article {
	font-size: 24px;
}

/* container */
.pagenavi {
	/*display: none;*/
}

/* header */
.menu_normal {
	padding: 15px 10px 0 10px;
	height: 48px;
	position: absolute;
    width: 100%;
    top: 0;
    z-index: 1;
}
.menu_normal .blogTitle {
	width: 24px;
	height: 16px;
	background: url(image/buttonsx2.png) no-repeat 0 0;
	background-size: 70px 200px;
	float: left;
}
.menu_normal .menubtn {
	width: 20px;
    height: 20px;
    background: url(image/buttonsx2.png) no-repeat 0 -20px;
    background-size: 70px 200px;
    float: right;
}
.menu_open {
	padding: 15px 10px 0 10px;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: none;
	z-index: 10;
}
.menu_background_color {
	width: 100%;
	height: 100%;
	position: absolute;
    background-color: #000;
    opacity: 0.92;
    top: 0;
    left: 0;
    z-index: 5;
}
.menu_open .blogTitle {
	width: 24px;
	height: 15px;
	background: url(image/buttonsx2.png) no-repeat -35px 0;
	background-size: 70px 200px;
	display: inline-block;
}
.menu_open .menubtn {
	width: 24px;
	height: 18px;
	background: url(image/buttonsx2.png) no-repeat -31px -21px;
	background-size: 70px 200px;
	display: block;
	float: right;
}
.menu_normal .blogTitle_content {
	width: 24px;
	height: 16px;
	background: url(image/buttonsx2.png) no-repeat -35px 0;
	background-size: 70px 200px;
	float: left;
}
.menu_normal .menubtn_content {
	width: 20px;
    height: 20px;
    background: url(image/buttonsx2.png) no-repeat 0 -155px;
    background-size: 70px 200px;
    float: right;
}
.menu {
	display: block;
	margin-top: 40px;
}
.top_menu a {
	color: #fff;
	font-size: 20px;
}
.menu_open > a {
	font-size: 0;
}
.menu ul li {
	display: inline;
	padding-right: 60px;
}
.top_menu {
	margin-top: 52px;
}
.top_menu .widgettitle {
	color: #777;
	font-size: 10px;
}
.top_menu ul li {
	display: inline-block;
	padding-right: 30px;
	padding-top: 12px;
}


/* footer */
#footer {
	margin-top: 50px;
	padding-bottom: 60px;
}
.twitterbtn {
	width: 21px;
	height: 17px;
	background: url(image/buttonsx2.png) no-repeat 0 -79px;
	background-size: 70px 200px;
	float: left;
	margin-left: 10px;
	margin-top: 4px;
}
.facebookbtn {
	width: 11px;
	height: 18px;
	background: url(image/buttonsx2.png) no-repeat 0 -105px;
	background-size: 70px 200px;
	float: left;
	margin-left: 20px;
	margin-top: 4px;
}
.copyright {
	float: left;
	margin-left: 50px;
	line-height: 1.6;
    font-size: 10px;
    margin-bottom: 16px;
    display: block;
    color: #888;
}
.b2btn {
	width: 32px;
	height: 20px;
	background: url(image/buttonsx2.png) no-repeat 0 -131px;
	background-size: 70px 200px;
	float: right;
	margin-right: 10px;
	margin-top: 4px;
}

/* contents */
#content {
	padding-top: 58px;
}
.home_article{
	margin-bottom: 28px;
}
.index_article_thumb {
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	background-position:center top;
	background-size: cover;
	background-color: #eee;
	margin-bottom: 12px;
	padding-bottom: 45%;
}
.index_article_title {
	display: block;
	font-size: 20px;
	padding: 0 10px;
	margin-bottom: 6px;
	line-height: 1.2;
}
.index_article_info {
	padding: 0 10px;
	display: block;
	font-size: 12px;
}
.index_article_info a{
	font-size: 11px;
	display: inline-block;
}
#wp-load-more-btn {
	width: 28px;
	height: 28px;
	background: url(image/buttonsx2.png) no-repeat 0 -43px;
	background-size: 70px 200px;
	border: 0 solid #000;
	display: block;
	margin: auto;
}

/* single contents */
.single_article_title {
	padding: 0 10px;
	display: block;
	margin-bottom: 12px;
}





.single_article_content .alignleft, .single_article_content .aligncenter, .single_article_content .alignright {
	width: 100%;
	height: auto;
}





.single_article_content > p, .single_article_content > a  {
	font-size: 16px;
	padding: 0 10px;
	line-height: 1.4;
}
.single_article_content .img_container {
	padding: 0;
}
.single_article_content .alignleft {
	padding: 0 10px;
	float: left;
}

/* top image */
.top_img_container {
	width: 100%;
	height: 100px;
	background-color: #eee;
	position: absolute;
	top: 0;
	background-repeat: no-repeat;
    background-position: center;
}
.alignnone {
	display: none;
}
#content_content {
	padding-top: 130px;
}

/* bottom nev */
.bottom_nev {
	background-color: #fff;
	border-top: 10px solid #eee;
	border-bottom: 10px solid #eee;
	width: 100%;
	display: inline-block;
	margin-top: 60px;
}
.bottom_nev .bottom_next {
	border-bottom: 1px solid #eee;
}
.bottom_nev .bottom_next .bottom_next_thumb, .bottom_nev .bottom_prev .bottom_prev_thumb {
	width: 120px;
	height: 54px;
	vertical-align: bottom;
	float: left;
	margin-right: 10px;
	background-size: 120px 54px;
	background-color: #f3f3f3;
}
.bottom_nev div {
	width: 100%;
	display: inline-block;
	position: relative;
	float: left;
}
.bottom_nev div  a {
	font-size: 16px;
	display: block;
	padding: 6px 10px 0 130px;
	width: 100%;
	height: 100%;
	line-height: 1.2;
	position: absolute;
}
@media (min-width: 1064px) and (min-height: 670px) {
	html {
		height: 100%;
	}
	/* header */
	.menu_normal .blogTitle {
		width: 36px;
		height: 22px;
		background: url(image/buttonsx1.png) no-repeat 0 0;
		background-size: 140px 400px;
	}
	.menu_normal .menubtn {
		width: 34px;
		height: 34px;
		background: url(image/buttonsx1.png) no-repeat 0 -28px;
		background-size: 140px 400px;
		margin-top: -4px;
	}
	.menu_normal .blogTitle_content {
		width: 36px;
		height: 22px;
		background: url(image/buttonsx1.png) no-repeat -70px 0;
		background-size: 140px 400px;
	}
	.menu_normal .menubtn_content {
		width: 34px;
		height: 34px;
		background: url(image/buttonsx1.png) no-repeat 0 -248px;
		background-size: 140px 400px;
		margin-top: -4px;
	}
	.menu_normal {
		padding: 15px 0 0 0;
		width: 1000px;
		left: 50%;
		margin-left: -500px;
	}
	.menu_open {
		width: 1040px;
		padding: 15px 20px 0 20px;
		left: 50%;
    	margin-left: -520px;
	}
	.menu_open .blogTitle {
		width: 36px;
		height: 22px;
		background: url(image/buttonsx1.png) no-repeat -70px 0px;
		background-size: 140px 400px;
		display: inline-block;
	}
	.menu_open .menubtn {
		width: 28px;
		height: 28px;
		background: url(image/buttonsx1.png) no-repeat -70px -32px;
		background-size: 140px 400px;
		display: block;
		float: right;
		margin-top: 1px;
		margin-right: 2px;
	}
	.top_menu ul li {
		padding-right: 30px;
		padding-top: 16px;
	}
	.top_menu a {
		font-size: 28px;
		font-weight: 600;
	}
	.top_menu .widgettitle {
		font-size: 12px;
	}

	/* footer */
	#footer {
		width: 1000px;
		margin: 80px auto;
		clear: left;
		margin-bottom: 20px;
	}
	.twitterbtn {
		width: 28px;
		height: 22px;
		background: url(image/buttonsx1.png) no-repeat 0 -130px;
		background-size: 140px 400px;
		margin-left: 0;
	}
	.facebookbtn {
		width: 20px;
		height: 30px;
		background: url(image/buttonsx1.png) no-repeat 0 -168px;
		background-size: 140px 400px;
		float: left;
		margin-left: 40px;
		margin-top: 1px;
	}
	.b2btn {
		width: 56px;
		height: 36px;
		background: url(image/buttonsx1.png) no-repeat 0 -210px;
		background-size: 140px 400px;
		margin-right: 0;
		margin-top: 0;
	}
	.copyright {
		margin-left: 80px;
		line-height: 1.6;
		font-size: 12px;
	}

	/* container */
	#container {
		width: 1040px;
		margin: auto;
		margin-top: 32px;
	}
	.home_article {
		width: 480px;
		display: inline-block;
		float: left;
		margin: 0 20px;
		height: 324px;
	}
	.index_article_title {
		padding: 0;
		font-size: 24px;
		line-height: 1.1;
		margin-bottom: 8px;
	}
	.index_article_info {
		padding: 0;
	}
	.index_article_info a {
		font-size: 14px;
	}
	.index_article_thumb {
		margin-bottom: 16px;
	}
	#wp-load-more-btn {
		width: 36px;
		height: 36px;
		background: url(image/buttonsx1.png) no-repeat 0 -70px;
		background-size: 140px 400px;
    	/*margin-left: 504px;*/
    	clear: left;
	}
	#wp-load-more-btn:hover {
		background: url(image/buttonsx1.png) no-repeat -70px -70px;
	}
	.single_article {
		width: 1000px;
	    margin-left: 20px
	}
	.bottom_nev {
		width: 1000px;
		margin-left: 20px;
	}
	.home_article:hover + .index_article_info {
		background-color: red;
		/*box-shadow: 0 0 0 6px #000 inset;*/
	}
	#content_content {
		padding-top: 220px;
	}
	.single_article_content > p, .single_article_content > a {
    	font-size: 18px;
	}
	.single_article_title, .single_article_content > p, .single_article_content > a, .single_article_content .alignleft {
		padding: 0;
	}
	.single_article_title > a {
		font-size: 34px;
	}
	.bottom_nev .bottom_next .bottom_next_thumb, .bottom_nev .bottom_prev .bottom_prev_thumb {
		width: 180px;
		height: 81px;
		vertical-align: bottom;
		float: left;
		margin-right: 10px;
		background-size: 180px 81px;
		background-color: #f3f3f3;
	}
	.bottom_nev div a {
		font-size: 22px;
		display: block;
		padding: 8px 10px 0 196px;
		width: 100%;
		height: 100%;
		line-height: 1.2;
		position: absolute;
	}

	/* top image */
	.top_img_container {
		position: absolute;
		left: 0;
		top: 0;
		height: 200px;
	}

	/* contents */
	.single_article_content .alignleft, .single_article_content .aligncenter, .single_article_content .alignright {
    	width: auto;
    	display: block;
	}
	.alignleft {
		margin: 0;
		float: left;
	}
	.aligncenter {
		margin: 0 auto;
	}
	.alignright {
		margin: 0;
		float: right;
	}
}
@media (min-width: 1640px) and (min-height: 670px) {
	#container{
		width: 1560px;
	}
	.menu_normal {
		width: 1520px;
		margin-left: -760px;
	}
	#footer {
	    width: 1520px;
	}
	.menu_open {
		width: 1520px;
		padding-left: 0;
		padding-right: 0;
		margin-left: -760px;
	}
	#content_content {
		padding-top: 300px;
		width: 1040px;
		display: block;
		margin: auto;
	}
	.bottom_nev {
		margin-left: 280px;
	}
}