@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
* {
	padding: 0; margin: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}

/* grobal */
a, a:link, a:visited {
	text-decoration: none;
	color: #000;
}
a:hover {
	text-decoration: underline;
}
ul {
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, header, footer, span, a, p, article {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 200;
	font-style: normal;
	letter-spacing: 0.5px;
}
header, footer, span, a, p, article {
	font-size: 22px;
}

/* container */
#main {
	margin-top: 20px;
}
.pagenavi {
	display: none;
}

/* header */
.menu_normal {
	padding: 15px 10px 0 10px;
	height: 48px;
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.menu_normal .blogTitle {
	width: 24px;
	height: 15px;
	background: url(image/buttonsx2.png) no-repeat 0 0;
	background-size: 70px 200px;
	float: left;
}
.menu_normal .menubtn {
	width: 20px;
	height: 8px;
	background: url(image/buttonsx2.png) no-repeat 0 -25px;
	background-size: 70px 200px;
	float: right;
	margin-top: 4px;
}
.menu_open {
	padding: 15px 10px 0 10px;
	background-color: #000;
	opacity: 0.95;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}
.menu_open .blogTitle {
	width: 24px;
	height: 15px;
	background: url(image/buttonsx2.png) no-repeat -35px 0;
	background-size: 70px 200px;
	display: inline-block;
}
.menu_open .menubtn {
	width: 24px;
	height: 16px;
	background: url(image/buttonsx2.png) no-repeat -31px -21px;
	background-size: 70px 200px;
	display: block;
	float: right;
}
.menu {
	display: block;
	margin-top: 40px;
}
.menu_open a {
	color: #fff;
	font-size: 20px;
}
.menu_open > a {
	font-size: 0;
}
.menu ul li {
	display: inline;
	padding-right: 60px;
}
.top_menu {
	margin-top: 52px;
}
.top_menu .widgettitle {
	color: #777;
	font-size: 10px;
}
.top_menu ul li {
	display: inline-block;
	padding-right: 60px;
	padding-top: 22px;
}


/* footer */
#footer {
	margin-top: 60px;
	padding-bottom: 52px;
}
#footer span {
	font-size: 10px;
	margin-bottom: 16px;
	display: block;
}
.twitterbtn {
	width: 21px;
	height: 17px;
	background: url(image/buttonsx2.png) no-repeat 0 -79px;
	background-size: 70px 200px;
	float: left;
	margin-left: 10px;
	margin-top: 4px;
}
.facebookbtn {
	width: 11px;
	height: 18px;
	background: url(image/buttonsx2.png) no-repeat 0 -105px;
	background-size: 70px 200px;
	float: left;
	margin-left: 20px;
	margin-top: 4px;
}
.copyright {
	float: left;
	margin-left: 50px;
	line-height: 1.6;
}
.b2btn {
	width: 32px;
	height: 20px;
	background: url(image/buttonsx2.png) no-repeat 0 -131px;
	background-size: 70px 200px;
	float: right;
	margin-right: 10px;
	margin-top: 4px;
}

/* contents */
.index_article_thumb {
	background-repeat: no-repeat;
	width: 100%;
	height: 0;
	background-position:center top;
	background-size: cover;
	background-color: #eee;
	margin-bottom: 12px;
	padding-bottom: 45%;
}
.index_article_title {
	display: block;
	font-size: 18px;
	padding: 0 10px;
	margin-bottom: 4px;
	word-break:break-all;
}
.index_article_info a{
	display: block;
	font-size: 11px;
	padding: 0 10px;
	margin-bottom: 24px;
	word-break:break-all;
}
#wp-load-more-btn {
	width: 26px;
	height: 26px;
	background: url(image/buttonsx2.png) no-repeat 0 -43px;
	background-size: 70px 200px;
	border: 0 solid #000;
	display: block;
	margin: auto;
}

/* single contents */
.single_article_title {
	padding: 0 10px;
	display: block;
    margin: 40px 0 40px 0;
}
.single_article_content img {
	width: 100%;
	height: auto;
}
.single_article_content > p, .single_article_content > a  {
	font-size: 15px;
	padding: 0 10px;
	margin-bottom: 20px;
}
.single_article_content .img_container {
	padding: 0;
}
.single_article_content .alignleft {
	padding: 10px;
}